.wallet-item {
  position: relative;
  margin: 20px auto; /* 가운데 정렬 */
  min-width: 288px;
}

.wallet-background {
  position: relative;
  width: 100%;
}

.wallet-bg-image {
  width: 80vw;
}

.wallet-icon {
  position: absolute;
  margin-left: 8vw;
  margin-top: 10vw;
  width: 20px;
  height: 20px;
}

.wallet-owner {
  position: absolute;
  margin-left: 15vw;
  margin-top: 10vw;
  color: white;
  font-size: 14px;
}

.wallet-balance {
  position: absolute;
  margin-left: 15vw;
  margin-top: 18vw;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: right;
  width: auto;
}
