.artist-search-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #84848490;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.artist-search-modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  width: 70%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.132);
  position: relative;
}

.artist-search-modal-header {
  display: flex;
  justify-content: space-between;
}

.artist-search-modal-content input {
  width: 55vw;
  height: 26px;
  border-radius: 12px;
  border: 1px solid #72777a50;
  padding: 5px 10px;
}

.artist-search-modal-content input:focus {
  outline: none;
}

.artist-search-modal-content input::placeholder {
  font-size: 12px;
  color: #72777a70;
  margin-left: 10px;
}

.artist-search-modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.artist-search-modal-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 40vh;
  overflow-y: auto;
}

.artist-search-modal-list::-webkit-scrollbar {
  display: none;
}

.artist-search-modal-list li {
  padding: 15px 10px;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd7d;
  display: flex;
  align-items: center;
}

.artist-search-modal-list li:last-child {
  border-bottom: none;
}

.search-modal-default-artist-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.5px solid #72777a50;
  margin-right: 10px;
}
