.funding-regist-section {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
}

.funding-regist-section label {
  font-size: 12px;
}

.funding-regist-type,
.funding-regist-image,
.funding-regist-title,
.funding-regist-end-date,
.funding-regist-goal,
.funding-regist-artist {
  margin-bottom: 20px;
}

.funding-regist-type label,
.funding-regist-image label,
.funding-regist-title label,
.funding-regist-end-date label,
.funding-regist-goal label,
.funding-regist-artist label {
  font-size: 12px;
  color: #303030;
  margin-bottom: 5px;
  display: block;
}

.funding-regist-type select,
.funding-regist-title input,
.funding-regist-end-date input,
.funding-regist-goal input,
.funding-regist-artist input {
  width: 90%;
  padding: 10px;
  border: 1px solid #6c707230;
  border-radius: 15px;
  font-size: 14px;
}

.funding-regist-type select::placeholder,
.funding-regist-title input::placeholder,
.funding-regist-end-date input::placeholder,
.funding-regist-goal input::placeholder,
.funding-regist-artist input::placeholder {
  color: #6c707270;
}

.funding-regist-type select {
  appearance: none;
  background-color: #ffffff;
  width: 120px;
}

.funding-regist-type div {
  position: relative;
  width: 120px;
}

.funding-type-select-icon {
  position: absolute;
  right: 10px;
  width: 14px;
  top: 18px;
}

.funding-regist-type select:focus,
.funding-regist-title input:focus,
.funding-regist-end-date input:focus,
.funding-regist-goal input:focus,
.funding-regist-artist input:focus {
  outline: none;
}

.funding-regist-image {
  position: relative;
}

.funding-regist-image-content {
  display: flex;
  align-items: center;
}

.funding-regist-image input[type='file'] {
  display: none;
}

.funding-regist-image-box {
  border: 1px solid #6c707230;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.funding-regist-default-image {
  width: 30px;
  height: 30px;
}

.funding-regist-image-preview {
  width: 82px;
  height: 82px;
  object-fit: cover;
  border-radius: 15px;
}

.funding-regist-image-description {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  text-align: left;
  margin-left: 20px;
}
