.createdfunding-container {
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 80px;
  /* width: 360px; */
}

.createdfunding-funding {
  display: flex;
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.createdfunding-container .no-funding-message {
  padding-top: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createdfunding-header-description {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}
