.createdfunding-container {
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 80px;
  /* width: 360px; */
}

.createdfunding-funding {
  margin-bottom: 20px;
}

.createdfunding-container .no-funding-message {
  padding-top: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
