.accountregist-container {
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 80px;
  /* width: 360px; */
}

.accountregist-header {
  display: flex;
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.accountregist-header-description {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  width: 120%;
}

.accountregist-container .progress-bar {
  width: 60%;
}

.accountregist-form {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
}

.accountregist-form-field {
  position: relative;
  margin-bottom: 10px;
}

.accountregist-form-field div {
  display: flex; /* Enable flexbox for the div containing input and icon */
  align-items: center; /* Vertically center items */
  position: relative;
}

.accountregist-form-field input {
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  flex: 1; /* Allow input to take up available space */
}

.clear-icon,
.dropdown-icon {
  margin-left: 10px; /* Space between input and icon */
  cursor: pointer;
}

.accountregist-confirm-button {
  min-width: 50px;
  width: 10%;
  padding: 5px;
  background-color: white;
  border: none;
  border-radius: 20px;
  font-size: 10px;
  cursor: pointer;
  border: 1px solid #e3e5e5;
  color: color-mix(in srgb, #131212 70%, white 30%);
}

.accountregist-container .wide-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 20px;
}

.accountregist-container .wide-button.inactive {
  background-color: #ccc;
  cursor: not-allowed;
}

.accountregist-container .wide-button.active {
  background-color: #0046ff;
  cursor: pointer;
}

.bank-modal {
  position: fixed;
  bottom: 0;
  left: -6%;
  width: 112%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1000;
}

.bank-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
  width: 80%;
  text-align: center;
  height: 60%;
  overflow-y: auto;
}

.bank-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bank-modal-content h3 {
  text-align: left;
  font-size: 18px;
}

.close-modal {
  float: right;
  cursor: pointer;
  font-size: 14px;
}

.bank-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.bank-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.bank-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.bank-item span {
  font-size: 14px;
}
