.term-container {
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 80px;
  /* width: 360px; */
}

.term-header {
  display: flex;
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.term-header-description {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  width: 120%;
}

.term-container .progress-bar {
  width: 60%;
}

.term-main {
  padding: 16px;
  margin-top: 100px;
}

.term-main .wide-button {
  width: 100%;
}

.agree-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.agree-item div {
  display: flex;
  align-items: center;
}

.agree-item img {
  margin-right: 8px;
}

.agree-item img.none {
  color: #0046ff;
}

span.checked {
  font-weight: bold;
}

.agree-item .보기 {
  margin-left: auto;
  color: #666;
  cursor: pointer;
}
