.agencymy-container {
  padding: 16px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
  /* width: 360px; */
}

.agencymy-profile {
  width: 120px;
  height: 120px;
  padding: 50px;
}

.agencymy-nickname {
  font-size: 22px;
}

.agencymy-container div {
  margin-bottom: 10px;
}

.agencymy-intro {
  font-size: 14px;
  padding: 16px 20%;
}

.agencymy-intro-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.agencymy-intro-text img {
  margin-left: 10px;
}

.agencymy-container .my-edit-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 16px;
}

.agencymy-container .wide-button {
  min-width: 100px;
  width: 40%;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.agencymy-container .wide-button.inactive {
  color: #303030;
}

.agencymy-funding {
  text-align: left;
  background-color: color-mix(in srgb, #9ed0f2 10%, white 90%);
  border-radius: 10px;
  padding: 16px;
}

.agencymy-funding-label {
  color: #6c7072;
  font-size: 12px;
}

.agencymy-funding-container {
  padding-top: 10px;
}

.agencymy-funding-context {
  display: flex;
  justify-content: space-between;
  height: 10px;
  padding-top: 10px;
  font-size: 16px;
  align-items: center;
  color: #303030;
}
