.edit-container {
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 80px;
  /* width: 360px; */
}

.edit-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.edit-header img {
  margin-right: 10px;
  height: 14px;
}

.edit-myprofile-img {
  display: flex;
  width: 120px;
  height: 120px;
  padding: 50px;
  margin: 0 auto;
}

.edit-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 36px;
}

.edit-content {
  width: 100%;
  padding-right: 36x;
  margin-bottom: 20px;
}

.edit-label {
  padding: 4px;
  font-size: 14px;
  color: #6c7072;
  margin-bottom: 10px;
}

.edit-input {
  font-size: 16px;
  width: 100%;
  height: 36px;
  border-radius: 15px;
  border: 1.5px solid color-mix(in srgb, #6c7072 50%, white 50%);
  padding: 0 16px;
  background-color: #fcfcfc;
}

.edit-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px !important;
}

.edit-buttons .wide-button {
  width: 100% !important;
  border-radius: 15px !important;
  height: 36px !important;
}
