.empty-state {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='39' ry='39' stroke='%23E5E6E6FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
border-radius: 39px;
  width: 100%;
  max-width: 90vw;
  max-height: 100px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.empty-state span {
  font-weight: 800;
  color: #3b66dc;
}

.empty-state div {
  font-size: 14px;
  margin-top: 5px;
  color: #9b9ea0;
}