.wide-button-container {
  display: flex;  
}

.wide-button {
  background-color: #f0f0f0;
  border: none;
  width: 90vw;
  height: 58px;
  border-radius: 15px;
  font-size: 16px;
  padding: 10px 20px;
  color: #13121250;
  margin: 0 auto;
  box-shadow: 5px 10px 20px #f0f0f0;
}

.wide-button.active {
  color: white;
  background-color: #0046ff;
  font-weight: 500;
  box-shadow: 5px 10px 20px #0046ff50;
}
