.password-modal-content {
  background-color: white;
  border-radius: 10px 10px 0 0;
  width: 100vw;
  max-width: 500px;
  padding: 20px;
  margin-bottom: 80px;
  box-sizing: border-box;
}

.password-modal-title-container {
  display: flex;
  align-items: end;
  font-size: 14px;
  padding: 10px;
}

.password-modal-title {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
  margin-right: 5px;
  font-weight: 800;
  color: #0046ff;
}

.password-modal-amount {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.password-modal-instruction {
  height: 30px;
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

.password-dots {
  height: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
}

.dot.filled {
  background-color: #0046ff;
}

.wrong-instruction {
  font-size: 14px;
  text-align: center;
  color: #f44037c0;
}

/* 비밀번호 실패 */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10px);
  }
  40%,
  80% {
    transform: translateX(10px);
  }
}

.password-dots.shake {
  animation: shake 0.4s ease;
}

.password-modal-keypad {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.password-modal-keypad-row {
  display: flex;
  width: 100%;
}

.password-modal-keypad-button {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  border: none;
  background: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.all-delete.password-modal-keypad-button {
  font-size: 16px;
}

.password-modal-keypad-button:hover {
  background: #ddd;
}

.password-modal-content h2 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
