.search-results-container {
  padding: 16px;
  margin-bottom: 80px;
}

.main-search-bar {
  padding: 0 5px;
}

.main-search-result-input-container {
  position: relative;
  width: 100%;
}

.main-search-result-input-container img {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 16px;
  top: 10px;
}

.main-search-result-input {
  display: flex;
  width: 88%;
  height: 40px;
  border: none;
  background-color: #30303020;
  border-radius: 14px;
  padding: 0 10px;
  margin-left: 15px;
}

.search-result-artist,
.search-result-funding {
  display: flex;
  align-items: center;
  margin: 15px 0 10px 0;
}

.search-result-go {
  width: 8px;
}

.search-results-container h2 {
  font-size: 16px;
  font-weight: 800;
  margin-right: 10px;
}

.artist-list {
  display: flex;
  overflow-x: auto;
  width: 95vw;
  margin-left: calc(-50vw + 55%);
}

.artist-image {
  width: 84px;
  height: 84px;
  border: 0.5px solid #6c707230;
  border-radius: 50%;
}

.artist-name {
  font-size: 14px;
}

.artist-item {
  position: relative;
  display: flex;
  width: 110px;
  flex-direction: column;
  margin: 0 5px;
}

.artist-item-zzim {
  position: absolute;
  right: 5px;
  bottom: 20px;
  width: 30px;
}
