.popular-funding-container {
  padding: 16px;
  margin-bottom: 80px;
}

.popular-funding-header {
  display: flex;
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.popular-funding-header-description {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 800;
}

.popular-funding-list {
  padding: 10px 10px 0 10px;
}
.popular-funding-list::-webkit-scrollbar {
  display: none;
}
