/** css 파일 가져오기 */
@import './fonts/css/noto-sans-korean.css';

body,
* {
  font-family: 'Noto Sans Korean', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

* {
  margin: 0;
}

input:focus {
  outline: none;
}

body{
  -ms-overflow-style: none;
}
  
::-webkit-scrollbar {
  display: none;
}