.funding-notice-regist-container {
  padding: 16px;
}

.funding-notice-regist-container header {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.funding-notice-header-title {
  margin: auto;
}