.fundingwalletdetail-container {
  padding: 16px;
  margin-bottom: 80px;
}

.fundingwalletdetail-header {
  display: flex;
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.fundingwalletdetail-header-description {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.fundingwalletdetail-container h2 {
  margin: 20px 0px;
}

.fundingwalletdetail-item {
  position: relative;
  margin: 20px auto; /* 가운데 정렬 */
  min-width: 288px;
  width: 80vw;
}

.fundingwalletdetail-background {
  position: relative;
  width: 100%;
}

.fundingwalletdetail-bg-image {
  width: 85vw;
}

.fundingwalletdetail-icon {
  position: absolute;
  margin-left: 8vw;
  margin-top: 10vw;
  width: 20px;
  height: 20px;
}

.fundingwalletdetail-owner {
  position: absolute;
  margin-left: 15vw;
  margin-top: 10vw;
  color: white;
  font-size: 14px;
}

.fundingwalletdetail-balance {
  position: absolute;
  margin-left: 15vw;
  margin-top: 19vw;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  width: auto;
}

.fundingwalletdetail-buttons {
  position: absolute;
  margin-top: 32vw;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.fundingwalletdetail-buttons button {
  background-color: color-mix(in srgb, #f9f9ff 30%, white 70%);
  border: 0px;
  border-radius: 5px;
  width: 72px;
  height: 24px;
  font: 12px;
}

.fundingwalletdetail-calculatebutton {
  margin-right: 2vw;
}
.fundingwalletdetail-withdrawbutton {
  margin-right: 8vw;
}

.fundingwalletdetail-container hr {
  border-top: 1px;
}

.transaction-history {
  margin: 10px;
}

.transaction-item {
  background-color: color-mix(in srgb, #9ed0f2 10%, white 90%);
  border-radius: 10px;
  padding: 5vw;
}

.transaction-time {
  font-size: 12px;
}

.transaction-summary {
  font-size: 14px;
  margin-top: 2vw;
}

.transaction-balance {
  font-size: 14px;
  color: #6c7072;
  text-align: right;
}

.transaction-afterbalance {
  font-size: 8px;
  text-align: right;
}

.transaction-afterbalance-main {
  font-size: 10px;
  color: #6c7072;
}
