.wallet-item {
  position: relative;
  margin: 20px auto; /* 가운데 정렬 */
  min-width: 288px;
}

.wallet-background {
  position: relative;
  width: 100%;
}

.wallet-bg-image {
  width: 85vw;
  height: 100px;
  border-radius: 16px;
}

.wallet-icon {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  width: 20px;
  height: 20px;
}

.wallet-owner {
  position: absolute;
  margin-left: 50px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
}

.wallet-balance {
  position: absolute;
  margin-left: 50px;
  margin-top: 45px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  width: auto;
}
