.create-container {
  padding: 16px;
  /* width: 360px; */
}

.create-header {
  display: flex;
  justify-content: space-between;
}

.create-header img {
  margin-right: 10px;
  height: 14px;
}

.create-header-backInfo {
  min-width: 120px;
  font-size: 16px;
}

.create-form {
  padding: 16px;
}

.create-form-field {
  margin-bottom: 10px;
}

.create-form-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.create-form-image {
  margin-bottom: 20px;
}

.create-image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px dashed #ccc;
  cursor: pointer;
  margin-bottom: 10px;
}

.create-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wide-button {
  width: 100%;
}

.wide-button.inactive {
  background-color: #ccc; /* Inactive button color */
  cursor: not-allowed;
}

.wide-button.active {
  background-color: #0046ff; /* Active button color */
  cursor: pointer;
}
