.create-container {
  padding: 16px;
  /* width: 360px; */
}

.create-header {
  display: flex;
  justify-content: space-between;
}

.create-header img {
  margin-right: 10px;
  height: 14px;
}

.create-header-backInfo {
  min-width: 120px;
  font-size: 16px;
}

.create-form {
  padding: 16px;
}

.create-form-field {
  margin-bottom: 10px;
}

.create-form-field input {
  font-size: 16px;
  width: 100%;
  height: 36px;
  border-radius: 15px;
  border: 0.25px solid color-mix(in srgb, #6c7072 50%, white 50%);
  padding: 0 16px;
  background-color: #fcfcfc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.create-form-image {
  margin-bottom: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 20px;
}

.create-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.create-container .wide-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.wide-button.inactive {
  background-color: #ccc; /* Inactive button color */
  cursor: not-allowed;
}

.wide-button.active {
  background-color: #0046ff; /* Active button color */
  cursor: pointer;
}
