.funding-regist-container {
  padding: 16px;
}

.funding-regist-header {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
}

.funding-regist-header-description {
  margin: 0 auto;
}
